.noPadding{
	padding:0;
}
body{
	background-color:#e6e6e6;
}
.container{
	background-color:white;
}
.single-item{
	margin-top:10px;
	margin-bottom:20px;
	border:1px solid silver;
	box-shadow:0 0 5px gray;
	height:320px;
}
.top{
	background:maroon;
	height:200px;
}
	.top img{
		width:100%;
		height:100%;
	}
.bottom{
	
	height:100px;
}
.item-title{
	color:maroon;
	margin-top:0;
	margin-left:10px;
	padding-top:10px;
}
.cutted-price{
	font-size:20px;
	margin-right:10px;
}
.discounted-price{
	font-size:20px;
	margin-right:10px;
	color:maroon;
	font-style:italic;
}
.product-page-title{
	font-size:30px;
}
.product-page-desc-head{
	font-size:25px;
	text-decoration:underline;
}
.product-page-descr-detail{

}
.product-page-descr-detail p{
	font-size:20px;
}
.product-page-descr-detail ul{
	margin-top:30px;
}
.product-page-descr-detail ul li{
	font-size:20px;
	margin-top:10px;
}
